<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <script data-require="angular.js@1.3.11" data-semver="1.3.11" src="https://code.angularjs.org/1.3.11/angular.js"></script>
    <link href="style.css" rel="stylesheet" />
    <script src="app.js"></script>
  </head>

  <body>
    <div ng-controller="MultiplicationCtrl" initial-number-limit="10">
		  <input type="number" ng-model="numberLimit" placeholder="Enter a number" />
		  <table>
			  <tr ng-repeat="numberA in numbers()">
				  <td ng-repeat="numberB in numbers()">
  		      {{ compute(numberA, numberB)  }}
				  </td>
	       </tr>
		  </table>
	  </div>
  </body>
</html>